SB_QDRANT_HF_TOKEN=<hugging_face_token>
SB_QDRANT_URL=<qdrant_url>
SB_QDRANT_API_KEY=<qdrant_api_key>
SB_QDRANT_COLLECTION_NAME=<name>
SB_CACHE_DIR=<path/to/cache_dir (defaults to ~/.cache/second-brain if unset)>
SB_QDRANT_CACHE_FILE=<filename (defaults to embedding_cache.json if unset)>
SB_QDRANT_INDEX_CACHE=<filename (defaults to index_cache.json if unset)>
SB_QDRANT_OPENAI_API_KEY=<openai_api_key>
SB_QDRANT_NOTES_DIR=<path_to_obsidian_vault>
SB_QDRANT_EMBED_MODEL=text-embedding-3-small
SB_QDRANT_BATCH_SIZE=64